.header{
    text-align: center;
    margin: 0 auto;
    background-color: rgba(0, 255, 255, 0.358);
    padding: 20px;
}
 .header p{
    font-size: 23px;
    
}
.header h1{
    font-size: 35px;
}
.btn{
    background-color: darkgreen;
    font-size: 14px;
    padding: 15px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: aliceblue;
}

.GRID-IMAGES{
    display: grid;
    /* grid-template-columns: 400px 400px 400px;*/
    grid-template-columns: repeat(3,1fr);
    margin-top: 30px;
     justify-content: center;
 justify-items: center;
    gap: 15px;
    overflow: hidden;
  
    
}

.image-1{
    background-color: blanchedalmond;
    height: 400px;
    width: 500px;
    text-align: center;
    border: none;
    border-radius: 8px;
    padding: 5px;
     box-sizing: border-box;
      
}
.image-1 img{
 
    height: 200px ;
width: 300px;
justify-content: center;
border: none;
border-radius: 5px;
}

/*.image-2{
    background-color: blanchedalmond;
    height: 400px;
    width: 500px;
    text-align: center;
    border: none;
    border-radius: 8px;
    padding: 5px;
     box-sizing: border-box;
}
.image-2 img{

height: 200px ;
width: 300px;
justify-content: center;
border: none;
border-radius: 5px;

}*/

.image-2{
background-color: blanchedalmond;
    height: 400px;
    width: 500px;
    text-align: center;
    border: none;
    border-radius: 8px;
    padding: 5px;
     box-sizing: border-box;
}
.image-2 img{

 height: 200px ;
width: 300px;
justify-content: center;
border: none;
border-radius: 5px;

}

.image-3{
    
background-color: blanchedalmond;
    height: 400px;
    width: 500px;
    text-align: center;
    border: none;
    border-radius: 8px;
    padding: 5px;
     box-sizing: border-box;

}
.image-3 img{
 height: 200px ;
width: 300px;
justify-content: center;
border: none;
border-radius: 5px;

}

.image-4{
    
background-color: blanchedalmond;
    height: 400px;
    width: 500px;
    text-align: center;
    border: none;
    border-radius: 8px;
    padding: 5px;
     box-sizing: border-box;
     margin-top: 10px;

}
.image-4 img{
 height: 200px ;
width: 300px;
justify-content: center;
border: none;
border-radius: 5px;

}

.image-5{
    
background-color: blanchedalmond;
    height: 400px;
    width: 500px;
    text-align: center;
    border: none;
    border-radius: 8px;
    padding: 5px;
     box-sizing: border-box;
     margin-top: 10px;

}
.image-5 img{
 height: 200px ;
width: 300px;
justify-content: center;
border: none;
border-radius: 5px;

}

.image-6{
    
background-color: blanchedalmond;
  height: 400px;
    width: 500px;
    text-align: center;
    border: none;
    border-radius: 8px;
    padding: 5px;
     box-sizing: border-box;
     margin-top: 10px;

}
.image-6 img{


 height: 200px ;
width: 300px;
justify-content: center;
border: none;
border-radius: 5px;
}

.main-1{
    text-align: center;
    font-size: 35px;
}
















h1{
    font-size: 24px;
}
p{
    font-size: 20px;
}






